#sidebar > ul > li:nth-child(1) > a {
    background-color: #eee;
}

#content {
    min-width: 950px;
}

#details {
    width: 920px;
    height: 504px;
    margin-top: 34px;
}

.row {
    border-bottom: 1px solid #E5E5E5;
    padding: 17px 10px;
    display: flex;
    align-items: center;
}

.account-condition {
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 2px;
}

/* 계정 상태 */
.account-condition.normal { background-color: #4A6EA9; display: inline-block; }
.account-condition.disabled { background-color: #8C8D8F; display: none;}
.account-condition.dropped { background-color: black; display: none; }

.info-input {
    display: none;
}

/* 설정 - 일반 - 수정 */
.row > .mod {
    position: absolute;
    right: 20px;
    color: #4A6EA9;
    font-size: 13px;
}

.row > .mod > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.row > .mod > img {
    height: 12px;
    width: 12px;
}

.row:last-child {
    border-bottom: 0;
}

.info-input {
    height: 20px;
    width: 600px;
    font-size: 16px;
}
input.info-input { border: 1px solid #ccc; }
.info-input > label { margin-right: 20px; }


.mod-button {
    position: absolute;
    right: 10px;

    height: 24px;
    width: 42px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    color: #4b4f56;
    padding: 1px 8px 0 8px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}

.mod-button:hover { background-color: #d8d8d8; }



.row.mod {
    background-color: #eee;
    align-items: flex-start;
}

.mod-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 39px;
}
.mod-wrapper > div {
    margin: 3px 0;
}

.input-wrapper {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 30px;
    background-color: white;
    position: relative;
    left: 100px;
    padding: 0 10px;
}
.row.mod.passwd .input-wrapper:nth-child(1) { margin-left: 100px; }

.input-wrapper > input { border: none; }
.input-wrapper > input:focus { outline: none; }

.submit-button {
    font-size: 12px;
    border-radius: 2px;
    background-color: #4A6EA9;
    color: white;
    cursor: pointer;
    width: 100px;
    padding: 2px 10px 3px 10px;
    margin-top: 10px;
}


.hidden { display: none; }