#sidebar > ul > li:last-child > a {
    background-color: #eee;
}

.search_wrap {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_wrap > span {
    font-weight: bold;
}
.search_wrap > select {
    border: none;
}
.search_wrap > select:focus {
    outline: none;
}


.condition_select > .fa-angle-up { display: none; }
.search_wrap > ul { list-style: none; }

.search_box {
    display: flex;
    width: 388px;
    height: 40px;
    background-color: #eee;
    align-items: center;
    padding: 0 15px;
    border-radius: 50px;
    margin: 0 20px;
}
.search_box > input {
    border: none;
    background-color: #eee;
    width: 388px;
    height: 40px;
    padding-left: 15px;
}
.search_box > input:focus {
    outline: none;
}

.board_list_wrap {
    width: 1200px;
    height: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F7F8FA;
    border-radius: 6px;
    /* padding: 25px; */
}
.board_list {

}
.board_list > .top {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #F0F2F5;
    height: 51px;
    border-radius: 6px 6px 0 0;
}
.board_list > div {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 51px;
    text-align: center;
}
.board_list > div:hover {
    background-color: #F0F2F5;
}
.board_list > div > .feedback_content {
    text-align: left;
    padding-left: 20px;
}
.board_list > div > .feedback_content > a {
    text-decoration: none;
    color: black;
}
.board_list > div > .feedback_content > a:hover {
    text-decoration: underline;
    color: black;
}
.board_list > .top > div {
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.feedback_no { width: 8%; }
.user_no { width: 8%; }
.feedback_content { width: 50%; }
.regist_date { width: 10%; }
.complete_date { width: 10%; }
.feedback_condition { width: 14%; }

.feedback-condition {
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 2px;
}
/* 이 부분은 DB에 저장된 정보에 따라 출력할 상태를 결정할 것임 */
.feedback-condition.in-porgress { background-color: #4A6EA9; display: none; }
.feedback-condition.complete { background-color: #8C8D8F; display: inline-block; }