#menu > .menu:last-child {
    border-bottom: 3px solid #277891;
}

#main {
    display: flex;
    max-height: 100vh;
}

#side {
    flex-grow: 1;
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    max-height: 100%;
}
#side > form {
    flex : 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#side > form > input {
    width: 260px;
    height: 45px;
    border: 2px solid #277891;
    border-radius: 6px;
    padding: 0 10px;
}
#side > form > button {
    width: 60px;
    height: 45px;
    margin-left: 8px;
}
#side > div {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#side > div > span {
    margin: 10px;
    font-weight: bold;
    flex: 0 0 auto;
}
#searchResult {
    overflow-y: scroll;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-top: 1px solid #ccc;
    user-select: none;
}
#searchResult::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}
#searchResult::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #277891; /* 스크롤바의 색상 */
    border-radius: 10px;
}
#searchResult::-webkit-scrollbar-track {
    /* background: rgba(33, 122, 244, .1);  스크롤바 뒷 배경 색상 */
    background-color: #00000000;
}
#searchResult > .searchResultItem {
    flex: 0 0 95px;
    flex-grow: 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    /* display: flex;
    flex-direction: column; */
}
.searchResultItem:hover {
    background-color: #f6f6f6;
}
.searchResultItem > ul {
    padding : 8px 15px;
}
.searchResultItem > ul > li:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}
.searchResultItem > ul > li:not(li:first-child) {
    margin: 2px;
    list-style: none;
}
.searchResultItem span {
    color: #a5a5a5;
}
.searchResultItem span.title {
    font-weight: bold;
    margin-right: 10px;
}
.searchResultItem span.date {
    float: right;
    font-size: 12px;
    margin-top: 4px;
}

#emptyContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#emptyContent > p {
    font-size: 24px;
    font-weight: bold;
    color: #277891;
}
#emptyContent > button {
    margin: 30px;
}

#content {
    padding-left: 100px;
    flex-grow: 1;
    display: grid;
    grid-template-areas: 
        "a d b"
        "c c c"
    ;
    grid-template-rows: minmax(675px, auto) 207px;
    /* grid-template-columns: minmax(740px, auto) 1px 600px; */
    grid-template-columns: 700px 1px 600px;
}

.vertical-bar {
    grid-area: d;
    width: 1px;
    height: 625px;
    background-color: #ccc;
    margin: 30px 0;
}

/* info1 : 고객 정보 출력 */
#content > #info1 {
    grid-area: a;
    padding: 30px;
}
.customer-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.customer-name > span.title {
    font-weight: bold;
    font-size: 28px;
}
.customer-name > img {
    padding: 0 50px;
    height: 50px;
}
.button-container {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.button-container button, .customer-info-container button {
    height: 25px;
    width: 80px;
    color: black;
    border-radius: 6px;
    font-size: 10pt;
    border: 1px solid #ccc;
    background-color: white;
    font-weight: normal;
    margin-left: 3px;
}
.button-container > #modCompleteBtn {
    display: none;
    background-color: #277891;
    border: 1px solid #277891;
    color: white;
}
.button-container > #modCompleteBtn:hover {
    display: none;
    background-color: white;
    border: 1px solid #277891;
    color: #277891;
}
.button-container button:hover, .customer-info-container button:hover {
    background-color: #ccc;
}
.customer-info-container {
    margin-top: 30px;
    padding-left: 8px;
    display: flex;
}
.customer-info-container ul:first-child {
    padding-right: 45px;
    flex: 0 0 auto;
}
.customer-info-container li {
    list-style: none;
    height: 40px;
}
.customer-info-container li > input {
    width: 500px;
    border: none;
    color: black;
    padding: 0 5px;
}
.customer-info-container li > input.filepath {
    width: 413px;
}

/* info2 : 고객 명함, 최근 견적 내역 출력 */
#content > #info2 {
    grid-area: b;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
#info2 > #namecard {
    margin-top: 10px;
}
#namecard > img {
    width: 540px;
}
#info2 > hr {
    width: 540px;
    margin: 20px 0;
    height: 1px;
    border: none;
    background-color: #ccc;
}
#info2 > #recentEstimate {
    height: 274px;
    width: 540px;
 }
 #info2 > #recentEstimate > .more-link {
    float: right;
 }
 table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 540px;
    margin-top: 10px;
 }

/* info3 : 특이사항 출력 */
#content > #info3 {
    grid-area: c;
    max-height: 207px;
    padding: 0 30px;
}

hr {
    height: 1px;
    border: none;
    background-color: #ccc;
}

#info3 > span {
    margin-top: 23px;
}
#info3 > textarea {
    width: 100%;
    height: 120px;
}