#menu > .menu:nth-child(2) { border-bottom: 3px solid #277891; }

form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
main > section#content {
    flex-grow: 1;
    flex-basis: 75%;
    margin-right: 25px;
    margin-top: 25px;
}
main > section#side {
    flex-grow: 1;
    flex-basis: 25%;
    margin-top: 25px;
}
footer {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 50px;
}
footer > button {
    margin-left: 10px;
}

/* #content */
#content {
    display: flex;
    flex-direction: column;
}
#content > section#header {}
#content > section#input {
    flex-grow: 1;
    margin-top: 20px;
    border: 1px solid #ccc;
}

/* #content > #header */
.header-item {
    display: flex;
    margin-bottom: 5px;
}
.header-item > * {
    flex-grow: 1;
}
.header-item > .title {
    flex-grow: 0;
    height: 40px;
    width: 130px;
    background-color: #277891;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 0;
    border-radius: 6px 0px;
}
.header-item > input {
    padding-left: 10px;
    border: none;
    border-bottom: 1px dashed #ccc;
    background-color: #E5E5E547;
    border-radius: 6px 0px;
}
.header-item > input:focus {
    outline: none;
}

/* #content > #input */
#input {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    overflow: hidden;
}
#input table {
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
}

.table-header {
    /* flex-basis: 28px; */
    overflow-y: scroll;
    height: 31px;
    border-bottom: 2px solid #277891;
}
.table-body {
    flex-basis: 100%;
    overflow-y: scroll;
}
.table-header::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}
.table-body::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}
.table-body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #277891; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}
.table-body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


table {
    border-collapse: collapse;
}
tr { 
    height: 28px;
    border-bottom: 1px solid #ccc;
}
/* td { text-align: center; }
td.col-name { 
    text-align: left;
    padding-left: 10px;
}
td.col-unitcost, td.col-totalcost {
    text-align: right;
    padding-right: 10px;
} */
td, th { border-right: 1px solid #ccc; }
tr > td:last-child, tr > th:last-child { border: none; }
tr > th.col-etc {}
.col-no { width: 4%; }
.col-name { width: 40%; }
.col-size { width: 10%; }
.col-unit { width: 6%; }
.col-count { width: 6%; }
.col-unitcost { width: 12%; }
.col-totalcost { width: 12%; }
.col-etc { width: 10%; }

td > input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}
td > input:focus {
    outline: none;
}
td.col-name > input { 
    text-align: left; 
    padding-left: 10px;
}
td.col-unitcost > input, td.col-totalcost > input { 
    text-align: right; 
    padding-right: 10px;
    color: black;
}
input[type='number']::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#estimateCost {
    color: black;
}

/* #side */
#side {
    display: flex;
    flex-direction: column;
}
#side > .side-item { display: flex; flex-direction: column; }
#side > .side-item:first-child {
    flex-basis: 60%;
    margin-bottom: 25px;
}
#side > .side-item:last-child {
    flex-basis: 40%;
}
#side .side-item-header { margin-bottom: 5px; }
#side .side-item-content {
    flex-grow: 1;
    resize: none;
    display: flex;
    padding: 0 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#side .memo { padding: 20px; border: none; }
#side ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    padding-right: 40px;
}

/* footer */
#tempSaveBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
#tempCounter {
    display: inline-block;
    width: 20px;
    height: 21px;
    margin-top: 3px;
    margin-left: 4px;
    padding-top: 1px;
    border-radius: 50%;
    color: white;
    background-color: #277891;
    text-align: center;
    font-size: 12px;
    display: none;
}


/* Popup */

#tempSavePopup {
    display: none;
}
#tempSavePopup > .cover {
    width: 100vw;
    height: 100vh;
    background: #000000CC;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
#tempSavePopup  > .cover > .popup{
    width: 900px;
    height: 600px;

    /* background: rgba(255, 255, 255, 0.6); */
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temp-save-info {
    width: 820px;
    text-align: right;
    color: #277891;
    font-size: 12px;
}
.temp-save-main {
    width: 820px;
    height: 480px;
    /* background-color: white; */
    /* background-color: skyblue; */
    margin-top: 4px;
    margin-bottom: 15px;
}
.temp-save-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    height: 40px;
}
.temp-save-col {
    text-align: center;
}
.temp-save-col:nth-child(1) { flex-basis: 5%; }
.temp-save-col:nth-child(2) { flex-basis: 20%; }
.temp-save-col:nth-child(3) { flex-basis: 25%; }
.temp-save-col:nth-child(4) { flex-basis: 25%; }
.temp-save-col:nth-child(5) { flex-basis: 20%; }
.temp-save-col:nth-child(6) { flex-basis: 5%; }
.temp-save-row.header {
    margin-top: 20px;
    font-weight: bold;
    border-bottom: 3px solid #277891;

}
.temp-save-col > img {
    width: 20px;
    padding-top: 4px;
    cursor: pointer;
    display: none;
}
.temp-save-btns {}
.temp-save-btns > button {
    margin: 0 20px;
    flex-shrink: 0;
}