/* 다 만들고 삭제 */
/* div, main, header, section, footer, article, nav, aside, form { border: 1px solid black; } */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /* background-color: #ECF3FF; */

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header {
    height: 56px;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 0px 3.5px #bdbebd;
}
main {
    height: 100vh;
    display: flex;
    overflow: auto;
}

.sidebar {
    flex: 0 0 360px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 3.5px #bdbebd;
    padding : 10px;
}
.sidebar > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none; /* li 태그 앞에 기호를 삭제 */
    width: 100%;
    margin-top: 20px;
}
.sidebar > ul > li > a {
    margin: 0px 0;
    padding: 10px 10px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}
.sidebar > ul > li > a:hover {
    background-color: #eee;
}
.sidebar li img {
    width: 35px;
    margin-right: 10px;
}

.number {
    font-weight: bold;
    color: #4A6EA9;
}
.date {
    font-weight: light;
    font-size: 0.6rem;
    color: #666;
}

.contents {
    left: 360px;
    width: 100vw;
    padding: 40px 50px;
}
.contents p {
    line-height: 200%;
    font-size: 0.95rem;
}
.contents > h3 {
    margin: 0 0 10px 0;
}
.contents > .missed {
    /* background-color: rgba(240, 240, 240, 0.5); */
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 25px;
}
.contents > .summary {
    /* background-color: rgba(240, 240, 240, 0.5); */
    min-width: 800px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 25px;
    border: 1px solid #ddd;
}
.contents > .feedback {
    padding-right: 50px;
    padding-left: 50px;
}

.recent-reports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.recent-reports > .recent {
    padding: 10px 30px;
    /* height: 250px; */
    border-radius: 5px;
    border-right: 1px solid #ddd;
}
.recent-reports > .recent:last-child {
    border-right: none;
}
.recent-reports > .recent > .title{
    margin: 0 0 20px 10px;
    font-weight: bold;
    font-size: 1rem;
}

.recent-list {
    display: flex;
    justify-content: space-between;
    line-height: 200%;
    font-size: 0.95rem;
}
.recent-list > div {
    display: flex;
    justify-content: center;
}
.recent-list > div > a {
    text-decoration: none;
    margin-left: 15px;
    color: black;
    height: 30;
} 
.recent-list > div > a:hover {
    /* background-color: #eee;
    border-radius: 5px; */
    /* border-bottom: solid 1px #bbb; */
} 
